/* Theme */

:root {
  --primary-h: 0;
  --primary-s: 0%;
  --primary-l: 15%;
  --primary-hsl: var(--primary-h), var(--primary-s), var(--primary-l);
  --primary-hs: var(--primary-h), var(--primary-s);
  --primary: hsl(var(--primary-hsl));

  --secondary-h: 20;
  --secondary-s: 64%;
  --secondary-l: 53%;
  --secondary-hsl: var(--secondary-h), var(--secondary-s), var(--secondary-l);
  --secondary-hs: var(--secondary-h), var(--secondary-s);
  --secondary: hsl(var(--secondary-hsl));
}

.line-break {
  white-space: pre-wrap;
}